body{
    margin: 0;
    padding-top: 10px;
}

header{
    margin: 0px;
}

h1 {
    color:rgb(33, 200, 77);
    font-size:50px;
    margin:10px;
}

li{
    list-style: none;
}


/*  hat start  */
.upheader {
    margin-right: 395px;
    display: flex;
    font-size : 12px;
    justify-content: end;
}

.upheader > div:nth-child(2) {
    border-left: 1px silver solid;
    margin-left: 5px;
    padding-left: 5px;
    color:gray;
    margin-bottom:22px;
}

.hat{
    margin: 0px;
    display: flex;
    justify-content: left;
    margin-right: 395px;
    margin-left: 395px;
    height: 125px;
}

#hat{
    height: 70px;
}

#searching{
    margin-left: 30px;
    width: 530px;
    height: 56px;
    border:2px solid rgb(33, 200, 77);
    margin-top: 10px;
}

#search_btn{
    height:56px;
    margin-top: 10px;
}
/* 가로/세로  1920 > 1130 양쪽으로  790 > 395*/
/* 색상 코드  33/200/77 */


/*  hat end   */

/* nav */
/* nav 높이 53 */
nav{
    display: flex;
    padding-right: 395px;
    padding-left: 395px;
    height: 53px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-top: 1px solid rgba(0,0,0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
ul{
    padding: 0px;
    margin:0px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:not(:last-child){
    margin-right: 9px;
    font-weight: 650;
}
li{
    font-size:15px
}
.greenfont{
    color:rgb(33, 200, 77);
}
li:last-child{
    font-size:13px;
    margin-left: 5px;
}
#mail{
    position: relative;
    top: -2px;
    margin-right: 5px;
}
/* nav end */
/* footer start */